<p><button class="devourBtn_{{devoured}}"  data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Re-order{{else}}Devour !{{/if}}
    </button>&nbsp;&nbsp;{{id}}. {{burger_name}}&nbsp;</p>